* {
  padding: 0;
  margin: 0;
}

.button {
  background-color: #03A696;
  color: #f2ece9;
  text-decoration: none;
  font-weight: 650;
  padding: 1% 2%;
  border-radius: 5000px;
  margin: 0 2%;
  transition: 0.2s;
  border: solid #03A696;
}

.button:hover {
  background-color: #f2ece9;
  color: #03A696;
}

body {
  background-color: black;
  padding: 0 8%;
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-weight: 500;
  overflow-x: hidden;
}
body #BackgImg {
  width: 150%;
  position: absolute;
  top: 17%;
  left: -21%;
  z-index: -2;
}
body #Me {
  width: 100%;
  position: absolute;
  top: 33%;
  left: 2%;
  z-index: -2;
}
body #gradient {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  width: 100%;
  height: 40%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#content {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: auto;
}

#topNav {
  position: fixed;
  width: 84%;
  max-width: 800px;
  padding-top: 10%;
  z-index: 1000;
}
@media only screen and (min-width: 952px) {
  #topNav {
    padding-top: 95px;
  }
}
#topNav #brandBar {
  background-color: #f2ece9;
  width: 100%;
  height: 67%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1%;
  box-sizing: border-box;
  border-radius: 5000px;
  box-shadow: 0 0 40px 0px black;
  pointer-events: none;
}
#topNav #brandBar .roundingL {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-left: 7%;
  border-radius: 28%;
  background-color: #f2ece9;
}
#topNav #brandBar .roundingR {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-left: 7%;
  border-radius: 28%;
  background-color: #f2ece9;
}
#topNav #brandBar #logo {
  position: relative;
  height: 100%;
  border-radius: 20%;
  z-index: 1001;
}
#topNav #brandBar #denesText {
  position: absolute;
  top: -10%;
  height: 120%;
  border-radius: 20%;
  z-index: 1001;
}
#topNav #menuBar {
  position: absolute;
  top: 76%;
  height: 30%;
  width: 82%;
  padding: 0 2%;
  border-radius: 5000px;
  background-color: #bab9b9;
  box-shadow: 0 10px 30px -1px black;
  box-sizing: border-box;
}
#topNav #menuBar a {
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-weight: 1000;
  color: #5e5e5e;
  text-decoration: none;
  padding: 0 4%;
  line-height: 170%;
  transition: 0.2s;
}
#topNav #menuBar a:hover {
  color: black;
}
#topNav #menuBar .choosen {
  background-color: #f2ece9;
  height: 100%;
  width: 25%;
  border-radius: 5000px;
  display: inline-block;
  margin: 0;
  text-align: center;
  margin-left: -3%;
}
#topNav #menuBar .choosen a {
  color: black;
}
#topNav #handBar {
  position: absolute;
  top: 76%;
  right: 0;
  height: 30%;
  width: 17%;
  border-radius: 5000px;
  background-color: #bab9b9;
  box-shadow: 8px 10px 30px -1px black;
  text-align: center;
  font-weight: 1000;
  padding: 1px 0 0 0;
  box-sizing: border-box;
  color: #5e5e5e;
}

#AboutBlock {
  width: 80%;
  height: 600px;
  position: relative;
  background-color: #f2ece9;
  margin: 100% auto 0 auto;
  padding: 2%;
  border-radius: 3%;
}
#AboutBlock p {
  padding: 2%;
}
#AboutBlock h2 {
  text-align: center;
  margin-bottom: -3%;
  pointer-events: none;
}
#AboutBlock #scrollBox {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
  width: 60%;
  left: 20%;
  height: 30%;
  overflow-x: scroll;
  padding-top: 8%;
  white-space: nowrap;
  font-size: 0;
  position: absolute;
}
#AboutBlock #scrollBox .box {
  font-size: 8px;
  display: inline-block;
  height: 70%;
  width: 33.3%;
  box-sizing: border-box;
  overflow: hidden;
}
#AboutBlock #scrollBox .box img {
  width: 100%;
  border-radius: 10%;
}
#AboutBlock #scrollBox .box #julio {
  height: 100%;
}
#AboutBlock #scrollBox #midLine {
  display: block;
  font-size: large;
  position: absolute;
}
#AboutBlock #scrollBox::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and other WebKit-based browsers */
}
#AboutBlock #offer {
  position: absolute;
  bottom: 5%;
  width: 70%;
  left: 15%;
  text-align: center;
}
#AboutBlock #offer .button {
  padding: 2% 4%;
  display: inline-block;
}

#menuBar {
  display: none;
}

#handBar {
  display: none;
}

@media only screen and (min-width: 570px) {
  #menuBar {
    display: block;
  }
  #handBar {
    display: inline-block;
  }
}/*# sourceMappingURL=home.css.map */