body {
    background-color: black;
    padding-top: 50px;
}

h1 {
    color: black;
    font-family: fantasy;
    font-size: 100%;
}

.keret {
    padding-top: 25%;
    border-radius: 20px;
    background-color: white;
    width: 50%;
    height: auto;
    margin: auto;
}