/*
COLORS:
brightest:  #44F24F
bright:     #36BF4A
dark:       #14732B
darkest:    #01260A
b           black

*/


body {
    background-color: black;
    padding-top: 50px;
}

.mainBox {
    padding-top: 34%;
    border-radius: 26px;
    background-color: white;
    width: 50%;
    height: auto;
    margin: auto;
    position: relative;
}

#left {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    padding: 13px;
    box-sizing: border-box;
}

#right {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    padding: 13px;
    box-sizing: border-box;
}

.mainBox button {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 10%;
    border-radius: 2000px;
    border: none;
    background-color: #36BF4A;
    color: white;
}

#imgContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 13px;
}

#Julio {
    margin: 0 0 0 -30%;
    height: 100%;
}

#logo {
    background-color: black;
    width: 20%;
    padding-top: 25%;
}
