/*
COLORS:
White:      #F2ECE9
brightest:  #03A696
bright:     #038C8C
dark:       #026873
darkest:    #093640
b           black

*/
body {
    background-color: #bf3636;
}

.mainBox {
    padding-top: 56%;
    border-radius: 26px;
    background-color: white;
    width: 80%;
    height: auto;
    margin: auto;
    position: relative;
}

#left {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    padding: 26px;
    box-sizing: border-box;
    background-color: palevioletred;
}

#right {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    padding: 13px;
    box-sizing: border-box;
    background-color: aqua;
}

.buon {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 10%;
    border-radius: 2000px;
    border: none;
    background-color: #36BF4A;
    color: white;
}

#imgContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 13px;
    background-color: #36BF4A;
}

#Julio {
    margin: 0 0 0 -30%;
    height: 100%;
}

#logo {
    width: 100%;
    padding-top: 30%;
    position: relative;
}

#logo img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#logo p {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


@media only screen and (min-width: 768px){
    body {
        background-color: #36BF4A;
    }

    .mainBox {
        border-radius: 26px;
        width: 70%;
        padding-top: 49%;
    }
}

@media only screen and (min-width: 1000px){
    
    body {
        background-color: #093640;
        padding-top: 50px;
    }
    
    .mainBox {
        border-radius: 26px;
        width: 50%;
        padding-top: 35%;
    }
    
    
}

